# Binaries for programs and plugins
src/src
src/wiki2book
wiki2book
wiki2book-*
.wiki2book
*.exe
*.exe~
*.dll
*.so
*.dylib
*.prof

# Rendered eBook files
*.html
*.epub
images
templates
articles
math
src/.test-cache

# IDE stuff
.idea
.run

# Test stuff
*.test
integration-tests/wiki2book
integration-tests/logs
integration-tests/results
integration-tests/.cache
!integration-tests/*.html
standalone.mediawiki

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Profiling stuff
*.prof
*.pdf
