# Binaries for programs and plugins
src/src
wiki2book
*.exe
*.exe~
*.dll
*.so
*.dylib

# Rendered eBook files
*.html
*.epub
images
templates
articles
math
src/.test-cache
src/profiling.prof

# IDE stuff
.idea
.run

# Test stuff
*.test
integration-tests/wiki2book
integration-tests/logs
integration-tests/results
integration-tests/.cache
!integration-tests/*.html

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
